/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
.vs/TheForeverCarnival/FileContentIndex/08b4a198-aa56-4b69-83cc-3eb8f21d3391.vsidx
.vs/TheForeverCarnival/FileContentIndex/75392210-cd23-478c-8c79-73193732ba83.vsidx
.vs/TheForeverCarnival/FileContentIndex/75f09885-6030-4889-9b37-9974327c3d52.vsidx
.vs/TheForeverCarnival/v17/.suo
